html {
    scroll-behavior: smooth;
  } 
h1, h2 { 
    font-family: 'Calistoga', serif; 
    font-size: 60px;
    color:#1A4301;
}

h4 {
    font-size: 24px;
}

h3{
    color: #1A4301;
    font-size:26px;
    font-family: 'Calistoga', serif; 
}

p, nav, h4 {
    font-family: 'Didact Gothic', sans-serif;
}

p{
    font-size: 18px;
}
body {
    margin:0;
}

nav {
    border-bottom: 5px solid #dbc1e7;
    padding: 1%;
}

.nav-link:hover {
  color: #dbc1e7;
  cursor: pointer;
}

nav a {
  text-decoration:none;
  color:white;
}

.nav-link a:hover {
  color:#dbc1e7;
}

.nav-link {
  color: white;
  font-size:20px;
}

.logo {
  float:right;
}

#intro img {
  height: 400px;
  width: 400px;
  border-radius: 100%;
}

.nav{
  background-color: #1A4301;
}
header {
    background-color: #1A4301;
    color: #ffffff;
    font-size:18px
}

footer {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    border-top: 5px solid #dbc1e7;
}

footer p { 
    font-size:16px;
}

footer a {
    color:#1A4301;
}

footer a:hover {
    color: #C4D7B2 ;
}

.container {
  padding-top:50px;
  width:100%;
}
#prototype {
  background-color:#C4D7B2;
  padding-bottom:40px;
}
/*wave divider*/
.wave-container {  
  height: 80vh;
  background-color: #c4d7b2;
  position: relative;
}

.wave-container::before {   
  content: "";
  width: 100%;
  height: 168px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 23vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='%23ffffff'/></svg>");
}

@media(max-width:850px) {
  .wave-container::before {    
    height: 84px
  }  
}


.wave-container2 {  
  height: 200vh;
  background-color: #ffffff;
  position: relative;
}

.wave-container2::before {   
  content: "";
  width: 100%;
  height: 168px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 23vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='%23c4d7b2'/></svg>");
}

@media(max-width:850px) {
  .wave-container2::before {    
    height: 84px
  }  
}
 